.env
node_modules
package-lock.json
.DS_Store
.wrangler
.vscode
.idea
.pytest_cache
.pytest_cache/*
.pytest_cache/**
.pytest_cache/**/*
.pytest_cache/**/**/*
.pytest_cache/**/**/**/*
.pytest_cache/**/**/**/**/*
.pytest_cache/**/**/**/**/**/*